In [17]:
import pandas as pd

## Caricamento file train.csv

In [18]:
file_path= "../../train.csv"
df = pd.read_csv(file_path)

## Descrizione df

In [19]:
df.head()

,Year,S0,S1,S2,S3,S4,S5,S6,S7,S8,...,S80,S81,S82,S83,S84,S85,S86,S87,S88,S89
0,2007,44.76752,114.82099,3.83239,27.99928,1.49153,-15.90853,28.24844,3.61650,-7.24653,...,-1.89619,-471.02844,411.56205,443.01198,19.30254,309.07806,-336.91706,-14.70547,-474.44157,31.32820
1,2004,52.28942,75.73319,11.35941,-6.20582,-27.64559,-30.75995,12.50955,7.47877,9.88498,...,4.57060,1.36110,-6.52977,59.48672,3.69790,-36.92252,44.08077,3.39993,-70.07591,3.86143
2,2005,33.81773,-139.07371,134.19332,17.85216,63.47408,-25.28005,-34.65911,-5.99135,1.27848,...,54.16608,15.04530,39.09107,39.03041,3.68708,-61.88547,45.68115,6.39822,3.24471,35.74749
3,1998,41.60866,3.17811,-3.97174,23.53564,-19.68553,20.74407,18.80866,6.24474,-7.98424,...,28.08591,295.88684,54.02395,102.02880,40.47711,15.10258,-250.32293,2.81288,56.05172,3.60432
4,1987,44.49525,-32.25270,58.08217,3.73684,-32.53274,-18.72885,-15.85665,-3.34607,22.63786,...,31.44988,-136.50457,-85.11989,-74.96342,9.56921,-100.61689,-133.29315,9.19246,-97.37953,30.11015

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252175 entries, 0 to 252174
Data columns (total 91 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Year    252175 non-null  int64
 1   S0      252175 non-null  float64
 2   S1      252175 non-null  float64
 3   S2      252175 non-null  float64
 4   S3      252175 non-null  float64
 5   S4      252175 non-null  float64
 6   S5      252175 non-null  float64
 7   S6      252175 non-null  float64
 8   S7      252175 non-null  float64
 9   S8      252175 non-null  float64
 10  S9      252175 non-null  float64
 11  S10     252175 non-null  float64
 12  S11     252175 non-null  float64
 13  S12     252175 non-null  float64
 14  S13     252175 non-null  float64
 15  S14     252175 non-null  float64
 16  S15     252175 non-null  float64
 17  S16     252175 non-null  float64
 18  S17     252175 non-null  float64
 19  S18     252175 non-null  float64
 20  S19     252175 non-null  float64
 21  S20     252175 non-null  float64
 22  S21     252175 non-null  float64
 23  S22     252175 non-null  float64
 24  S23     252175 non-null  float64
 25  S24     252175 non-null  float64
 26  S25     252175 non-null  float64
 27  S26     252175 non-null  float64
 28  S27     252175 non-null  float64
 29  S28     252175 non-null  float64
 30  S29     252175 non-null  float64
 31  S30     252175 non-null  float64
 32  S31     252175 non-null  float64
 33  S32     252175 non-null  float64
 34  S33     252175 non-null  float64
 35  S34     252175 non-null  float64
 36  S35     252175 non-null  float64
 37  S36     252175 non-null  float64
 38  S37     252175 non-null  float64
 39  S38     252175 non-null  float64
 40  S39     252175 non-null  float64
 41  S40     252175 non-null  float64
 42  S41     252175 non-null  float64
 43  S42     252175 non-null  float64
 44  S43     252175 non-null  float64
 45  S44     252175 non-null  float64
 46  S45     252175 non-null  float64
 47  S46     252175 non-null  float64
 48  S47     252175 non-null  float64
 49  S48     252175 non-null  float64
 50  S49     252175 non-null  float64
 51  S50     252175 non-null  float64
 52  S51     252175 non-null  float64
 53  S52     252175 non-null  float64
 54  S53     252175 non-null  float64
 55  S54     252175 non-null  float64
 56  S55     252175 non-null  float64
 57  S56     252175 non-null  float64
 58  S57     252175 non-null  float64
 59  S58     252175 non-null  float64
 60  S59     252175 non-null  float64
 61  S60     252175 non-null  float64
 62  S61     252175 non-null  float64
 63  S62     252175 non-null  float64
 64  S63     252175 non-null  float64
 65  S64     252175 non-null  float64
 66  S65     252175 non-null  float64
 67  S66     252175 non-null  float64
 68  S67     252175 non-null  float64
 69  S68     252175 non-null  float64
 70  S69     252175 non-null  float64
 71  S70     252175 non-null  float64
 72  S71     252175 non-null  float64
 73  S72     252175 non-null  float64
 74  S73     252175 non-null  float64
 75  S74     252175 non-null  float64
 76  S75     252175 non-null  float64
 77  S76     252175 non-null  float64
 78  S77     252175 non-null  float64
 79  S78     252175 non-null  float64
 80  S79     252175 non-null  float64
 81  S80     252175 non-null  float64
 82  S81     252175 non-null  float64
 83  S82     252175 non-null  float64
 84  S83     252175 non-null  float64
 85  S84     252175 non-null  float64
 86  S85     252175 non-null  float64
 87  S86     252175 non-null  float64
 88  S87     252175 non-null  float64
 89  S88     252175 non-null  float64
 90  S89     252175 non-null  float64
dtypes: float64(90), int64(1)
memory usage: 175.1 MB

In [21]:
df.describe()

,Year,S0,S1,S2,S3,S4,S5,S6,S7,S8,...,S80,S81,S82,S83,S84,S85,S86,S87,S88,S89
count,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,...,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000,252175.000000
mean,1998.350380,43.379379,1.555258,8.643927,1.160078,-6.526075,-9.532049,-2.366866,-1.788645,3.713079,...,15.723383,-73.290415,41.480537,38.046821,0.334712,17.927021,-26.502617,4.487977,19.875335,1.309523
std,10.497739,6.066547,51.551085,35.235495,16.336577,22.841967,12.809154,14.530697,7.963275,10.553843,...,31.982900,174.935574,122.250383,94.576578,16.020922,114.053576,173.680285,13.286064,185.158800,22.113525
min,1956.000000,3.455260,-334.953220,-301.005060,-149.962040,-181.953370,-72.717370,-111.017810,-68.404510,-119.762620,...,-437.722030,-2984.920970,-1810.689190,-1848.702260,-272.289050,-2343.894110,-3819.933620,-233.456480,-7458.378150,-286.031200
25%,1994.000000,39.959775,-25.651750,-11.524900,-8.492585,-20.587910,-18.402445,-10.770340,-6.472825,-2.295965,...,-1.788255,-139.034460,-21.014560,-4.630075,-6.748720,-31.246970,-102.175470,-2.536810,-59.734690,-8.820370
50%,2002.000000,44.250440,8.655610,10.516440,-0.641920,-5.999260,-11.189750,-2.072920,-1.727900,3.821990,...,9.132400,-53.168610,28.673440,33.597330,0.819000,15.843510,-21.613560,3.145290,7.774840,0.062980
75%,2006.000000,47.822515,36.248650,29.792790,8.766685,7.739900,-2.448645,6.512925,2.913400,9.938425,...,26.206820,13.411780,89.181345,77.881735,8.452415,67.776640,51.897840,9.999465,85.838080,9.651235
max,2009.000000,61.970140,384.065730,318.868960,228.412110,262.068870,166.236890,160.815220,82.942190,92.792850,...,840.973380,4469.454870,3210.701700,1734.079690,199.121500,3662.065650,2833.608950,275.353660,7240.653730,600.766240

In [22]:
print("\nValori mancanti nel DataFrame:")
print(df.isnull().sum())

Valori mancanti nel DataFrame:
Year    0
S0      0
S1      0
S2      0
S3      0
       ..
S85     0
S86     0
S87     0
S88     0
S89     0
Length: 91, dtype: int64

In [23]:
# Gestione dei duplicati
print("\nDuplicati nel DataFrame:")
print(df.duplicated().sum())

Duplicati nel DataFrame:
52